.DS_Store
Src/__pycache__/agregar_caso.cpython-312.pyc
Src/__pycache__/filtrar_por_desaparecido_especifico.cpython-312.pyc
Src/__pycache__/Funcion_general.cpython-312.pyc
Src/__pycache__/funcion_graficos.cpython-312.pyc
Src/__pycache__/funcion_validacion.cpython-312.pyc
Src/__pycache__/modificar_caso_resuelto.cpython-312.pyc
Src/__pycache__/mostrar_resueltos.cpython-312.pyc
Src/__pycache__/agregar_caso.cpython-311.pyc
Src/__pycache__/agregar_caso.cpython-311.pyc
Src/__pycache__/agregar_caso.cpython-311.pyc
Src/__pycache__/filtrar_por_desaparecido_especifico.cpython-311.pyc
*.pyc
Src/__pycache__/funcion_graficos.cpython-311.pyc
*.pyc
Datos/.DS_Store
